.breadcrumb {
  background-color: #efefef;
  margin: 20px 0;

  .breadcrumb-container {
    padding: 30px 0;

    .breadcrumb-wrapper {
      span {
        font-weight: 500;
        font-size: 16px;
        color: #323131;

        a {
          text-decoration: none;
          color: rgb(83, 80, 80);
          transition: all 0.3s;

          &:hover {
            color: #a749ff;
          }
        }
      }
    }
  }
}
